body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #333;
  color: #fff;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.edit-button, .delete-button, #edit-submit, [type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.edit-button:hover, .delete-button:hover, #edit-submit:hover, [type="submit"]:hover {
    background-color: #555;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li, ol li {
    display: inline-block;
    vertical-align: middle;
}

ul li span, ol li span {
    display: inline-block;
    vertical-align: middle;
}

.actions {
    margin: 0;
}

.actions button {
    margin-left:0
}

.task-item {
    margin-bottom:10px
}

.task-title, .task-description {
    margin-right:10px
}
